@import "../../../config/config.scss";

@keyframes fade-in-move-up {
  0% {
    opacity: 0;
    transform: translateY(3rem);
    -webkit-transform: translateY(3rem);
    -moz-transform: translateY(3rem);
    -ms-transform: translateY(3rem);
    -o-transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
@keyframes fade-in-move-down {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
    -webkit-transform: translateY(-3rem);
    -moz-transform: translateY(-3rem);
    -ms-transform: translateY(-3rem);
    -o-transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

.projects {
  background: darken(#ffffff, 7%);
  padding-bottom: 7vh;
  z-index: 2;
  .headline {
    text-align: center;
    padding-top: 10vh;
    overflow: hidden;
    font-size: 3vw;
    color: lighten(black, 20%);
    font-weight: bold;
  }
  .underline {
    text-align: center;
    width: 12vw;
    height: 3px;
    background: lighten(black, 20%);
    margin: 0 auto;
    margin-bottom: 10vh;
    margin-top: 10px;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 85%;
    grid-gap: 40px;
    font-family: "Oswald", sans-serif;
    .project {
      width: 100%;
      // height: 400px;
      padding-bottom: 72%; //ration: 1:0.693
      // -webkit-box-shadow: 2px 2px 3px 1px rgb(73, 71, 73);
      // -moz-box-shadow: 2px 2px 3px 1px rgba(73, 71, 73, 1);
      // box-shadow: 2px 2px 3px 1px rgba(73, 71, 73, 1);
      position: relative;
      a {
        text-decoration: none;
        color: $secondary-color;
      }
      .imgWrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        img {
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }
      .bottom1 {
        position: absolute;
        top: 0;
        width: 100%;
        text-align: center;
        background: lighten($secondary-color, 20%);
        color: #ffffff;
      }
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: darken(white, 3%);
        animation-duration: 0.5s;
        transition: opacity 0.5s ease-out;
        -webkit-transition: opacity 0.5s ease-out;
        -moz-transition: opacity 0.5s ease-out;
        -ms-transition: opacity 0.5s ease-out;
        -o-transition: opacity 0.5s ease-out;
        display: grid;
        justify-content: center;
        opacity: 0;
        &:hover {
          opacity: 1;
          .wrapper {
            .overlayName {
              opacity: 1;
              animation: fade-in-move-down 0.3s;
              -webkit-animation: fade-in-move-down 0.3s;
            }
            .flex {
              opacity: 1;
              animation: fade-in-move-down 0.3s;
              -webkit-animation: fade-in-move-down 0.3s;
            }
            p {
              opacity: 1;
              transition: opacity 2s ease-out;
              -webkit-transition: opacity 2s ease-out;
              -moz-transition: opacity 2s ease-out;
              -ms-transition: opacity 2s ease-out;
              -o-transition: opacity 2s ease-out;
            }
            .buttonWrapper {
              opacity: 1;
              animation: fade-in-move-up 0.3s;
              -webkit-animation: fade-in-move-up 0.3s;
            }
          }
        }
        .wrapper {
          // width: 100%;
          // height: 100%;
          // position: relative;
          margin-top: 10%;

          .overlayName {
            text-align: center;
            font-size: 1.5vw;
            opacity: 0;
          }
          .flex {
            display: flex;
            width: 80%;
            margin: 0 auto;
            justify-content: center;
            margin-top: 20px;
            animation-duration: 0.4s;
            opacity: 0;
            .skill {
              color: white;
              background: lighten($secondary-color, 20%);
              font-size: 1vw;
              padding-top: 6px;
              padding-bottom: 6px;
              padding-left: 0.7vw;
              padding-right: 0.7vw;
              margin: 5px;
              border-radius: 3px;
              -webkit-border-radius: 3px;
              -moz-border-radius: 3px;
              -ms-border-radius: 3px;
              -o-border-radius: 3px;
              -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
              -moz-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
              box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
            }
          }
          p {
            text-align: center;
            width: 80%;
            margin: 0 auto;
            padding-top: 20px;
            opacity: 0;
            font-size: 1.3vw;
            transition: opacity 0.7s ease-out;
            -webkit-transition: opacity 0.7s ease-out;
            -moz-transition: opacity 0.7s ease-out;
            -ms-transition: opacity 0.7s ease-out;
            -o-transition: opacity 0.7s ease-out;
          }
          .buttonWrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: 0 auto;
            grid-gap: 1vw;
            width: 50%;
            margin-top: 35px;
            opacity: 0;
            .button1 {
              font-size: 1vw;
              padding-top: 5px;
              padding-bottom: 5px;
              width: 100%;
              line-height: 30px;
              text-align: center;
              -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
              -moz-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
              box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
              background: lighten($primary-color, 60%);
              transition: all 0.1s ease-out;
              -webkit-transition: all 0.1s ease-out;
              -moz-transition: all 0.1s ease-out;
              -ms-transition: all 0.1s ease-out;
              -o-transition: all 0.1s ease-out;
              &:hover {
                background: darken($primary-color, 10%);
                color: lighten($primary-color, 60%);
                transition: all 0.1s ease-out;
                -webkit-transition: all 0.1s ease-out;
                -moz-transition: all 0.1s ease-out;
                -ms-transition: all 0.1s ease-out;
                -o-transition: all 0.1s ease-out;
                cursor: pointer;
              }
            }
            .button2 {
              font-size: 1vw;
              padding-top: 5px;
              padding-bottom: 5px;
              width: 100%;
              line-height: 30px;
              text-align: center;
              -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
              -moz-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
              box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
              background: lighten($primary-color, 60%);
              transition: all 0.1s ease-out;
              -webkit-transition: all 0.1s ease-out;
              -moz-transition: all 0.1s ease-out;
              -ms-transition: all 0.1s ease-out;
              -o-transition: all 0.1s ease-out;
              display: flex;
              margin: auto;
              img {
                padding-left: 3vw;
                margin-right: 5px;
                height: 23px;
                align-self: center;
                justify-self: center;
              }
              cursor: pointer;
              &:hover {
                background: darken($primary-color, 10%);
                color: lighten($primary-color, 60%);
                transition: all 0.1s ease-out;
                -webkit-transition: all 0.1s ease-out;
                -moz-transition: all 0.1s ease-out;
                -ms-transition: all 0.1s ease-out;
                -o-transition: all 0.1s ease-out;
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 950px) {
    .grid {
      grid-template-columns: 1fr;
      width: 70%;
      grid-gap: 40px;
      .project {
        .overlay {
          .wrapper {
            margin-top: 10%;
            .overlayName {
              font-size: 3vw;
            }
            .flex {
              .skill {
                font-size: 1.9vw;
              }
            }
            p {
              font-size: 2vw;
            }
            .buttonWrapper {
              width: 40%;
              .button1 {
                font-size: 2vw;
              }
              .button2 {
                font-size: 2vw;
                img {
                  height: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 600px) {
    .headline {
      font-size: 26px;
    }
    .underline {
      width: 150px;
    }
  }
}
