@import "../../../../config/config.scss";

.strengths {
  background: darken(#ffffff, 3%);
  padding-top: 5vh;
  margin: 2vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;

  .strength {
    margin: 0 auto;
    width: 100%;
    display: flex;
    margin-bottom: 50px;
    opacity: 0;
    &.animated {
      animation: fade-in-move-left 0.5s;
      -webkit-animation: fade-in-move-left 0.5s;
      animation-fill-mode: forwards;
      &:nth-child(1) {
        animation-delay: 0.5s;
      }
      &:nth-child(2) {
        animation-delay: 0.6s;
      }
      &:nth-child(3) {
        animation-delay: 0.7s;
      }
    }
    @mixin size($size) {
      .hexagon {
        // width: 20%;
        display: flex;
        height: $size * 1.04;
        justify-self: center;
        align-self: center;
        .hexagon1 {
          border-right: 0.3 * $size solid #6c6;
          border-top: 0.52 * $size solid transparent;
          border-bottom: 0.52 * $size solid transparent;
        }
        .hexagon2 {
          width: 0.6 * $size;
          height: 1.04 * $size;
          background-color: #6c6;
          display: grid;
          justify-content: center;
          align-content: center;
          img {
            width: 120%;
            height: auto;
            margin: auto;
            z-index: 2;
            margin-left: -10%;
          }
        }
        .hexagon3 {
          border-left: 0.3 * $size solid #6c6;
          border-top: 0.52 * $size solid transparent;
          border-bottom: 0.52 * $size solid transparent;
        }
      }
      .descriptionWrapper {
        width: 100%;
        // font-size: 1.4vw;
        margin-left: 5%;
        display: flex;
        align-items: center;
        .description {
          h2 {
            margin: 0;
            padding-bottom: 20px;
            // font-size: 1.8vw;
            font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
              "Lucida Sans", Arial, sans-serif;
          }
        }
      }
    }

    @media screen and (min-width: 800px) {
      @include size($size: 8vw);
    }
    @media screen and (max-width: 800px) {
      @include size($size: 100px);
    }
    @media screen and (max-width: 450px) {
      @include size($size: 60px);
    }
  }
  @media (max-width: 1100px) {
    .strength {
      .descriptionWrapper {
        margin-left: 0;
      }
    }
  }
  @media (max-width: 800px) {
    .strength {
      .hexagon {
        width: 30%;
      }
      .descriptionWrapper {
        width: 90%;
        font-size: 18px;
        margin-left: 0;
        .description h2 {
          font-size: 23px;
        }
      }
    }
  }
  @media (max-width: 630px) {
    .strength {
      margin-bottom: 10px;
      .descriptionWrapper {
        margin-left: 5%;
      }
    }
  }
}
