@import "../../../config/config.scss";

.skills {
  background: darken(#ffffff, 3%);
  padding-top: 5vh;
  padding-bottom: 10vh;
  .headline {
    text-align: center;
    padding-top: 10vh;
    overflow: hidden;
    font-size: 38px;
    color: lighten(black, 20%);
    font-weight: bold;
  }
  .underline {
    text-align: center;
    width: 120px;
    height: 3px;
    background: lighten(black, 20%);
    margin: 0 auto;
    margin-bottom: 10vh;
    margin-top: 10px;
  }
  .grid {
    margin: 0 auto;
    width: 85%;
    .skill {
      padding-bottom: 0.5vh;
      height: 50px;
      .name {
        float: left;
        width: 10%;
        height: 4vh;
        line-height: 4vh;
        text-align: center;
        background: $secondary-color;
        color: white;
        font-size: 15px;
      }
      .bar {
        float: left;
        width: 90%;
        height: 4vh;
        background: lightgrey;
        position: relative;
        .fill {
          position: absolute;
          left: 0;
          height: 100%;
          background: lighten($secondary-color, 20%);
          &.css {
            width: 80%;
          }
          &.js {
            width: 70%;
          }
          &.html {
            width: 90%;
          }
          &.react {
            width: 75%;
          }
          &.r {
            width: 90%;
          }
          &.django {
            width: 20%;
          }
        }
      }
    }
  }
}
