@import "../../../config/config.scss";

.skills {
  background: darken(#ffffff, 3%);
  padding-top: 5vh;

  .skillWrapper {
    margin: 0 auto;
    width: 100%;
    .skill {
      height: 8vh;
      .name {
        float: left;
        width: 15%;
        height: 5vh;
        line-height: 5vh;
        text-align: center;
        background: $secondary-color;
        color: white;
        font-size: 1vw;
      }
      .bar {
        float: left;
        width: 85%;
        height: 5vh;
        background: lightgrey;
        position: relative;
        .fill {
          position: absolute;
          left: 0;
          height: 100%;
          background: lighten($secondary-color, 20%);
          &.css {
            width: 80%;
          }
          &.js {
            width: 70%;
          }
          &.html {
            width: 90%;
          }
          &.react {
            width: 75%;
          }
          &.r {
            width: 90%;
          }
          &.django {
            width: 20%;
          }
        }
      }
    }
  }
  @media (max-width: 800px) {
    .skillWrapper {
      width: 75%;
      .skill {
        height: 6vh;
        .name {
          height: 20px;
          font-size: 10px;
          line-height: 20px;
        }
        .bar {
          height: 20px;
        }
      }
    }
  }
  @media (max-width: 500px) {
    .skillWrapper {
      .skill {
        .name {
          font-size: 08px;
        }
      }
    }
  }
  @media (max-width: 370px) {
    .skillWrapper {
      width: 95%;
    }
  }
}
