@import "../../../config/config.scss";

.strengths {
  background: darken(#ffffff, 3%);
  padding-top: 5vh;

  .strength {
    margin: 0 auto;
    width: 100%;
    display: flex;
    margin-bottom: 50px;

    @mixin size($size) {
      .hexagon {
        width: 20%;
        display: flex;
        justify-content: center;
        .hexagon1 {
          border-right: 0.3 * $size solid #6c6;
          border-top: 0.52 * $size solid transparent;
          border-bottom: 0.52 * $size solid transparent;
        }
        .hexagon2 {
          width: 0.6 * $size;
          height: 1.04 * $size;
          background-color: #6c6;
          position: relative;
          img {
            width: 100%;
            position: absolute;
            height: auto;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
          }
        }
        .hexagon3 {
          border-left: 0.3 * $size solid #6c6;
          border-top: 0.52 * $size solid transparent;
          border-bottom: 0.52 * $size solid transparent;
        }
      }
      .descriptionWrapper {
        width: 75%;
        height: $size * 1.04;
        font-size: 1.2vw;
        margin-left: 5%;
        display: flex;
        align-items: center;
        .description {
          h2 {
            margin: 0;
            padding-bottom: 2vh;
            font-size: 1.7vw;
          }
        }
      }
    }

    @media screen and (min-width: 800px) {
      @include size($size: 8vw);
    }
    @media screen and (max-width: 800px) {
      @include size($size: 100px);
    }
    @media screen and (max-width: 450px) {
      @include size($size: 60px);
    }
  }
  @media (max-width: 800px) {
    .strength {
      .hexagon {
        width: 30%;
      }
      .descriptionWrapper {
        width: 70%;
        font-size: 15px;
        .description h2 {
          font-size: 17px;
        }
      }
    }
  }
  @media (max-width: 630px) {
    .strength {
      margin-bottom: 80px;
    }
  }
}
