@import "../../../../config/config.scss";

.skills {
  background: darken(#ffffff, 3%);
  padding-top: 20px;

  .skillWrapper {
    margin: 0 auto;
    width: 100%;
    .skill {
      height: 50px;
      .name {
        float: left;
        width: 15%;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background: $secondary-color;
        color: white;
        font-size: 1vw;
      }
      .bar {
        float: left;
        width: 85%;
        height: 30px;
        background: lightgrey;
        .fill {
          left: 0;
          height: 100%;
          background: lighten($secondary-color, 20%);
          width: 0%;
          transition: width 1s ease-in-out;
          -webkit-transition: width 1s ease-in-out;
          -moz-transition: width 1s ease-in-out;
          -ms-transition: width 1s ease-in-out;
          -o-transition: width 1s ease-in-out;
          &.css {
            width: 80%;
          }
          &.js {
            width: 70%;
          }
          &.html {
            width: 90%;
          }
          &.react {
            width: 75%;
          }
          &.r {
            width: 90%;
          }
          &.django {
            width: 20%;
          }
        }
      }
    }
  }
  @media (max-width: 800px) {
    .skillWrapper {
      width: 75%;
      .skill {
        height: 50px;
        .name {
          height: 30px;
          font-size: 13px;
          line-height: 30px;
        }
        .bar {
          height: 30px;
        }
      }
    }
  }
  @media (max-width: 700px) {
    .skillWrapper {
      width: 95%;
      .skill {
        .name {
          font-size: 10px;
        }
      }
    }
  }
  @media (max-width: 370px) {
    .skillWrapper {
      width: 95%;
    }
  }
}
