@import "../../../config/config.scss";

.top .profileWrapper {
  width: 100%;
  background: $secondary-color;
  margin-bottom: 38px;
  overflow: hidden;
  border-bottom: 2px solid lighten($secondary-color, 10%);
  min-height: 100vh;
  .container {
    min-height: 80vh;
    margin: 0 auto;
    width: 85%;
    .hello {
      margin-top: 20vh;
      font-size: 90px;
      color: lighten($primary-color, 40%);
      letter-spacing: 15px;
    }
    .name {
      font-size: 90px;
      color: lighten($primary-color, 30%);
    }
    .description {
      font-size: 40px;
      color: lighten($primary-color, 20%);
    }
    @media (max-width: 440px) {
      .hello {
        font-size: 70px;
      }
      .name {
        font-size: 60px;
      }
      .description {
        font-size: 35px;
      }
    }
    @media (max-width: 350px) {
      .hello {
        font-size: 60px;
      }
      .name {
        font-size: 50px;
      }
      .description {
        font-size: 30px;
      }
    }
    .btnWrapper {
      width: 550px;
      margin-top: 5vh;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-content: center;
      .btn {
        width: 80%;
        border: 2px solid lighten($primary-color, 30%);
        color: lighten($primary-color, 30%);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        font-family: "Oswald", sans-serif;
        text-align: center;
        padding: 5px;
        font-size: 1.2em;
        transition: all 0.1s ease-out;
        -webkit-transition: all 0.1s ease-out;
        -moz-transition: all 0.1s ease-out;
        -ms-transition: all 0.1s ease-out;
        -o-transition: all 0.1s ease-out;
        cursor: pointer;
        .center {
          display: flex;
          .wrapper {
            display: flex;
            margin: auto;
            img {
              padding: 3px;
              margin-right: 5px;
              height: 18px;
              align-self: center;
              justify-self: center;
            }
          }
        }
      }
      .btn:hover {
        border: 2px solid lighten($primary-color, 10%);
        color: lighten($primary-color, 10%);
      }
    }
    @media (max-width: 622px) {
      .btnWrapperWrapper {
        text-align: center;
        width: 100%;
        .btnWrapper {
          width: 70%;
          display: inline-block;
          .btn {
            margin: 10px;
          }
        }
      }
    }
  }
}
