@import "../../../config/config.scss";

footer {
  background: darken(#ffffff, 13%);

  .grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    grid-gap: 50px;
    .picture {
      width: 80%;
      .portrait {
        border-radius: 500px;
        -webkit-border-radius: 500px;
        -moz-border-radius: 500px;
        -ms-border-radius: 500px;
        -o-border-radius: 500px;
        width: 100%;
        margin: 0 auto;
        height: auto;
        margin-top: 20%;
      }
    }
    .contact {
      margin: 0 auto;
      font-size: 20px;
      width: 80%;
      text-align: center;
      padding: 20px;
      padding-bottom: 5px;
      .headline {
        text-align: center;
        padding-top: 10vh;
        overflow: hidden;
        font-size: 27px;
        color: lighten(black, 20%);
        font-weight: bold;
      }
      .underline {
        text-align: center;
        width: 150px;
        height: 3px;
        background: lighten(black, 20%);
        margin: 0 auto;
        margin-bottom: 8vh;
        margin-top: 10px;
      }
      a {
        color: $secondary-color;
      }
      img {
        background: grey;
      }
      img:hover {
        background: darken(#ffffff, 33%);
        transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
      }
    }
  }
  .bottom {
    padding: 20px;
    margin-top: 40px;
    font-size: 15px;
    font-weight: bold;
    .copyright {
      float: left;
    }
    .impressum {
      float: right;
    }
    .privacy {
      float: right;
      padding-left: 20px;
    }
  }
  .foot:hover {
    color: lighten($secondary-color, 20%);
    cursor: pointer;
  }
  @media (max-width: 600px) {
    .headline {
      font-size: 26px;
    }
    .underline {
      width: 150px;
    }
  }
  @media (max-width: 950px) {
    .grid {
      grid-template-columns: 1fr;
      grid-gap: 0;
      .picture {
        margin: 0 auto;
        width: 50%;
      }
    }
  }
}
