@import "../../config/config.scss";

$link-size: 20px;
$link-padding: 20px;

header {
  width: 100%;
  font-family: "Oswald", sans-serif;
  background: $secondary-color;
  color: lighten($primary-color, 40%);
  height: 50px;
  z-index: 999;
  position: absolute;
  border-top: 1px solid #ffffff;
  .logo {
    float: left;
    padding-left: 20px;
    height: 50px;
    line-height: 50px;
    font-size: 27px;
  }
  nav {
    float: right;

    .link {
      float: left;
      display: block;
      padding-left: 30px;
      padding-right: 30px;
      font-size: 20px;
      height: 50px;
      line-height: 50px;
      cursor: pointer;
    }
    .link:hover {
      background: lighten($primary-color, 25%);
      color: darken($secondary-color, 5%);
    }
    @media (max-width: 680px) {
      .link {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}
