@import "../../config/config.scss";

//Btn
.btnMenu {
  position: relative;
  .btn {
    display: grid;
    height: 50px;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    justify-items: right;
    align-items: center;
    align-content: center;

    cursor: pointer;
    .btnLine {
      height: 4px;
      margin-right: 10px;
      width: 30px;
      background: lighten($primary-color, 50%);
    }
    &.hide {
      opacity: 0;
      height: 0;
      visibility: hidden;
    }
    &.close {
      transform: rotate(180deg) translate(13px);
      -webkit-transform: rotate(180deg) translate(13px);
      -moz-transform: rotate(180deg) translate(13px);
      -ms-transform: rotate(180deg) translate(13px);
      -o-transform: rotate(180deg) translate(13px);
      .btnLine:nth-child(1) {
        transform: rotate(-45deg) translate(-7px);
        -webkit-transform: rotate(-45deg) translate(-7px);
        -moz-transform: rotate(-45deg) translate(-7px);
        -ms-transform: rotate(-45deg) translate(-7px);
        -o-transform: rotate(-45deg) translate(-7px);
      }
      .btnLine:nth-child(2) {
        transform: rotate(45deg) translate(-7px);
        -webkit-transform: rotate(45deg) translate(-7px);
        -moz-transform: rotate(45deg) translate(-7px);
        -ms-transform: rotate(45deg) translate(-7px);
        -o-transform: rotate(45deg) translate(-7px);
      }
    }
  }
  .navBar {
    position: absolute;
    top: 50px;
    right: 0;
    background: lighten($primary-color, 20%);
    color: $secondary-color;
    height: 0;
    overflow: hidden;
    &.show {
      height: auto;
    }
    .navLi {
      font-size: 20px;
      width: 100vw;
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: 2px solid $secondary-color;
      text-align: center;
      cursor: pointer;
    }
  }
}
